body {
    padding-top: 54px;
    background-color: #F6FFF6;
    font-family: 'Roboto', sans-serif;
  }
  .navbar {
    background-color: #2E5266;
    font-family: 'Mansalva', cursive;
  }
 .jumbotron {
   margin-top: 2em;
background-color: #FF715B;
font-family: 'Mansalva', cursive;
}
.display-4 {
  padding: .5em;
}
.btn-primary {
  background-color: #1EA896;
  border-color: #1EA896;
}
.index-btn{
  margin: 1em;
  display: block;
}
.btn-warning{
  margin-top:1em;
  margin-bottom: 1em;
}
#list-of-list-item{
 font-size: large;
}
#list-of-grocery-item{

padding-right: .25em;
}
h2{
  padding-top: 1em;
  font-family: 'Mansalva', cursive;
}
#new-list-btn{
  margin-top: 1em;
  margin-bottom: 1em;
}
.card-header{
 
  background-color:#ff715B;
}
.list-group-item a{
  color:#1EA896;
}
#list-card{
  background-color: #FF715B;

  padding: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
}
#grocery-card{
  padding-top: 1em;
}
#grocery-card-item{
  background-color: #6E8898;
}
.badge-primary {
  background-color:#1EA896;
}
.create-form{
  background-color: #FF715B;
  padding: 1em;
  margin-top: 1em;
}
small {
  color: #2e5266;
}