<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h2 id="list-header">My Lists</h2>

      <% if(currentUser) { %>
        <a href="/lists/new" class="btn btn-primary" id="new-list-btn">Create a new list</a>
     

      <ul class="list-group">

        <% lists.forEach((list) => { %>
          <% if(currentUser.id == list.userId) { %>
            <li class="list-group-item">
                <a id="list-of-list-item" href="/lists/<%= list.id %>"> <%= list.title %> </a>
              </li>
          <% } %>
          
        <% }) %>
      </ul>

      <% } else { %> 
        <p>Create an account to make lists!</p>
      <% } %>

    </main>
  </body>
</html>