<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- NavBar -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron ">
          <h4 class="display-4">GroceryList</h4>
          <p class="lead">An application for real-time shared grocery lists</p>
 
          <% if(currentUser) { %>
            <a href="/lists" class="btn btn-primary btn-lg index-btn">My Lists</a>
            <a href="/users/sign_out" class="btn btn-primary btn-lg index-btn">Sign out</a>
          <% } else { %>
            <a href="/users/sign_up" class="btn btn-primary btn-lg index-btn">Sign up</a>
            <a href="/users/sign_in" class="btn btn-primary btn-lg index-btn">Sign In</a>
            <% } %>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->


     <!-- Scripts -->
     <% include ./partials/baseScripts.ejs %>
     
    </body>
</html>